
.container {
  /*background: #e0e0e0;*/
  margin: 0 0 ;
  height: 25rem;
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: start;
  justify-content: center;
    
}
.child {
  
  /*background: #60e0b0;*/
  padding: .2rem;
}

.login {
    width: 360px;
    padding: 1em;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #d1c1eb;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(110, 8, 226, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1c0e57;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
 